body {
  background: black;
  color: white;
  }
  
  .screen {
    min-height: 80vh;
    background-color: darkgreen;
    text-align: center;
    color: black
  }

.home{
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    font-weight:bold;
    font-size: small;
    min-height: 8vh;
}

#title{
    width: fit-content;
    margin: auto;
    font-family: Georgia;
    text-decoration: overline underline red;
    display: flexbox;
}

#hitMe1{
  height: 25px;
  width: 75px;
  border-radius: 5px;
  background-color: gold;
  border: 2px solid Black;
  font-weight: 600;
}

#stay1{
  height: 25px;
  width: 75px;
  border-radius: 5px;
  background-color: red;
  border: 2px solid Black;
  font-weight: 600;
}

#hitMe2{
  height: 25px;
  width: 75px;
  border-radius: 5px;
  background-color: gold;
  border: 2px solid Black;
  font-weight: 600;
}

#stay2{
  height: 25px;
  width: 75px;
  border-radius: 5px;
  background-color: red;
  border: 2px solid Black;
  font-weight: 600;
}

#message{
  animation: blink 1s infinite;
}

@keyframes blink{
  0% {color: black}
  50% {color: white}
  100% {color: black}
}