/* Home Page */
body {
    background: cornflowerblue;
  }
  
  .screen {
    min-height: 80vh;
    background-color: darkgreen;
    text-align: center;
  }

.home{
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    font-weight:bold;
    font-size: small;
    min-height: 8vh;
}

#title{
    width: fit-content;
    margin: auto;
    font-family: Georgia;
    text-decoration: overline underline red;
    display: flexbox;
}

#cards{
    width: fit-content;
    margin: auto;
}

#play{
    width: fit-content;
    margin: auto;
}

#hand{
  display: inline-flex;
  column-gap: 150px;
}

table{
  margin: auto;
  width: 250px;
}
